<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>


<body>
  <div>
    <header class="display-flex justify-space-between align-center" >
    <nav class="bg-light w-100">
      <div class="mx-2 my-3">
        <div>
        <a href="/">Homepage</a>
       {{#if logged_in}}
     
        <a href="/dashboard">Dashboard</a>
       <a href='/' id="logout">logout</a>
       {{else}}
       <a href="/login">login</a>
     {{/if}}
       </div>
     </div>
    </nav>
    </header>
    
  
    <main class="container contsiner-fluid mt-5">
        {{{body}}}
    </main>

   

    <footer>
        <div>
        <p>Derek Meduri 2023<br>
        Any questions: <a href="mailto:derekmeduri@gmail.com">Email</a>
        <a href="https://github.com/derekmeduri">Github</a>
        </p>
        </div>
    </footer>
    </div>

 {{#if logged_in}}
    <!-- if logged reference logout script to show logout option-->
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>

</html>