<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
</head>

<header>
    <nav>
        <ul>
              {{#if logged_in}}
            <li>Homepage</li>
            <li>Dashboard</li>
            <li>Log Out</li>
            {{#else}}
            <li>Homepage</li>
            <li>Login</li>
            <li>Sign Up</li>
            {{/if}}
        </ul>
    </nav>
    </header>
    <body>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <!-- if logged reference logout script to show logout option-->
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>

</html>