<section>
    <a href="/dashboard">back to dashboard</a>

    <h2>Create a new blog post</h2><hr>

    <form class="new-post-form">
        <div>
            <label for="post-title">title:</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Blog Title"/>
        </div>
        <div>
            <label for="post-content">content:</label>
            <input class="textarea" id="post-content" name="post-content" placeholder="write your blog content here"/>
        </div>
        <button type="submit">create new post</button>
    </form>
</section>

<script src="/public/js/createpost.js"></script>