<div>
    <h2>Login:</h2>
    <form class="login-form">
        <div>
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login"/>
        </div>
        <div>
            <labeL for="password-login">password:</labeL>
            <input class='form-input' type="password" id="password-login"/>
        </div>
        <div>
            <button type="submit">Login</button>
            <a href="/signup">Signup</a>
        </div>
    </form>
</div>

<!-- login js file -->
<script src="/public/js/login.js"></script>